.containor{
    background-color: #0082e6;
    width: 65vw;
    height: 140px;
    margin: 25px auto;
    border-radius: 20px;
}
.containor h2{
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
}
.containor ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.containor ul li{
    list-style: none;
    font-weight: 500;
    padding: 10px 30px;
    font-size: 1.5em;

}
.containor ul li a:hover{
    color: white;

}
.containor ul li a{
  text-decoration: none;
  color:black;

}

@media (max-width: 834px) {
    .containor{
        height: 200px;
    }
}

@media (max-width: 424px) {
    .containor{
        height: 250px;
    }
}

@media (max-width: 410px) {
    .containor{
        height: 300px;
    }
}

@media (max-width: 323px) {
    .containor{
        height: 330px;
    }
}