.containor2{
    width: 95vw;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #0082e6;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: auto;
}


.containor2 .box{
    background: white;
    width: 200px;
    margin: 10px;
    height: 450px;
    margin: 10px;
}

.containor2 .box img{
 width: 100%;
}

.containor2 .box h3{
    text-align:center;
    padding-top: 10px;

}

.containor2 .box h3 a{
    text-decoration: none;
    color: black;
}